<div id="<%= dom_id datafirst %>">

 <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= datafirst.first_name %> <%= datafirst.last_name %></h1>
        <p class="col-md-8 fs-4"> <%= datafirst.email %> | <%= datafirst.phone %> | <%= datafirst.twitter %></p>
        <br/>
        <%= link_to "Edit", edit_datafirst_path(@datafirst), class:"btn btn-primary btn-lg" %>
        <%= link_to "Back", datafirsts_path , class:"btn btn-primary btn-lg"%>
      </div>
  </div>

</div>
